html {
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;  --container-bg-color: #333;
  --left-bg-color: #FFDC6E;
  --left-button-hover-color: rgba(161, 11, 11, 0.3);
  --right-bg-color: #F5E1F4;
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
}
body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  color: #202864;
  background-color: #ffffff;
}

.right {
  right: 0;
  background-color:#BFD7ED;
  ;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

split.split.left:before {
  position:absolute;
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}
.split.right {
  right:0;
  background-size: cover;
}
.split.right:before {
  position:absolute;
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}
.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}
.hover-left .split.left {
  width: var(--hover-width);
}
.hover-left .split.right {
  width: var(--other-width);
}
.hover-left .right:before {
  z-index: 2;
}
.hover-right .split.right {
  width: var(--hover-width);
}
.hover-right .split.left {
  width: var(--other-width);
}
.hover-right .left:before {
  z-index: 2;
}

.project {
position:relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.project .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.project:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/***/
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill,300px); /*  minmax(300px, 1fr) instead of just 300px*/
  grid-gap: 20px;
  align-items: stretch;
  }
.grid img{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
  max-height: 100%;
}